.trans-container {
    width: 95%;
    height: 280px;
    align-items: center;
    border-radius: 8px;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(34, 34, 34);
}

.trans-top {
    width: 100%;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(44, 44, 44);
}

.trans-top>div {
    width: 50%;
    height: 100%;
    align-items: center;
    align-content: center;
}

.trans-bottom {
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.trans-bottom>div {
    height: 100%;
    flex-grow: 2;
    align-content: center;
}

.tb3 {
    flex-grow: 5 !important;
}

.trans-bottom>div>textarea {
    width: 100%;
    color: #ffffff;
    resize: none;
    border: none;
    padding: 12px;
    outline: none;
    flex-grow: 1;
    font-size: 1rem;
    background: none;
    font-weight: 500;
    padding-top: 4px;
    font-family: HCo Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.trans-bottom>div>textarea:active {
    border: none;
}

.trans-output {
    width: 100%;
    margin: 0;
    padding: 12px;
    flex-grow: 1;
    padding-top: 4px;
}

.trans-header {
    color: rgba(255, 255, 255, 0.3);
    margin: 0;
    margin-top: 12px;
    margin-left: 12px;
}

.v-divider {
    width: 1px;
    height: 90% !important;
    flex-grow: 0 !important;
    flex-shrink: 0;
    background-color: #565656;
}

button.download-btn {
    color: #cccbcb;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    background: none;
    font-weight: 500;
    font-family: HCo Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

button.download-btn > i {
    font-style: normal;
}